.ccwis-phone-input {
    width: 100%;
    border: 1px solid #666; 
    height: 2rem;
    font-family: "SegoeUI", "Segoe UI";
    font-size: 1rem;
    padding-left: 8px;
    box-sizing: border-box;
    border-radius: 0px;
    outline: none;
}

.ccwis-phone-input:focus {
    border-color: #000;
    border-width: 1px;
}

.ccwis-phone-input:hover {
    border-color: #333;
}